// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@font-face {
	font-family: 'Almarai';
	src:url('../assets/fonts/Almarai-Regular.ttf');
}
:root {
	--ion-font-family: 'Almarai';
}