ion-content{
	--background:#EFF3F9 !important;
	background:#EFF3F9 !important;
	--keyboard-offset: 0 !important;
    --overflow: hidden !important;
}
.title{
    font-size: 19px; 
    color:#214376;
    font-weight: bold;
}
.spanIcon{
    vertical-align: middle;
}
.signup{
	text-align: end;
	padding: 20px 10px 0px 10px;
	font-size:15px;
	font-weight: bold;
	color: #214376;
}
.imageDiv{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 25px;
}
.formLoginDiv{
	background: #ffffff;
	height: 85%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding-right: 20px;
	padding-left: 20px;
}
.loginDiv{
	text-align: start;
	font-size: 25px;
	font-weight: bold;
	color:#214376;
	padding:25px 0px 10px 0px;
}
.imageLogo{
	width:20%;
}
//form
ion-button{
	width: 65%;
	--border-radius: 25px;
	font-size: 16px;
	font-weight: bold;
}
.buttonDiv{
	margin-top: 50px;
	text-align: center;
}
.contactUs{
	padding:30px 15px 15px 5px;
	color:#8496B0
}
.link{
	color:#8496B0;
	text-decoration: none;
}
.tagInput{
	min-height:28px !important;
}
.tagItem{
	--min-height: 28px !important;
}
.addLineInput {
	border-bottom: 1px solid #8496B0;
	margin-left: 10px;
    margin-right: 10px;
  }
  .keySelected{
	margin-top: 23px;
    margin-left: 0px;
    font-size: 17px;
    font-weight: bold;
	color: #214376;
  }
.ionInputStyleError{
	border-bottom: 1px solid red;
}
.ionInputStyleSuccess{
	border-bottom: 1px solid #214376;
}
.tagTitle{
	color: #8496B0;
	padding-top: 15px;
}
.pluseIcon{
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}